// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{text-align: center;}
h3{text-align: center;}
.b1{
  width: 200px;
  height: 150px;
  font-size:2.5em;
  color:white;
}
.b2{
  font-size:2.5em;
  color:white;
  width:400px;
}
div{
  text-align: center;
}
.dr{
   font-size:1.5em;
   text-align:center;
   width:400px;
}
