// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#padboard{
  width: 340px;
  height: 440px;
}

#keypad{
  width: 80px;
  height: 80px;
  font-size: 30pt;
  margin: 10px auto;
}
